
.sitnav-iteam{  
    text-decoration: none;
     color:yellow;
    background-color: blue;
}
.sitenav-link{
    
text-align: justify;
color: aqua;
font-family: cursive;
text-decoration:underline; 
text-transform: none;
float: left;
}


/*ul{
list-style: none;
text-align: center;
}*/
.heading-1{
    text-align: center;
    text-transform:initial;
}
 .images{
     height: 800px;
     width: 500px;
     float: left;
 }

